<template>
  <ul class="availability-grid">
    <li
      v-for="schedule in schedules"
      :key="schedule.key"
      :class="{ disabled: schedule.flights.length === 0 }"
    >
      {{ schedule.key }}:{{ String(schedule.flights.length).padStart(2, '&nbsp;') }}
    </li>
  </ul>
</template>

<script>
import * as _pickBy from 'lodash/pickBy';
import * as _some from 'lodash/some';
import * as _map from 'lodash/map';

export default {
  name: 'AvailabilityGrid',
  props: {
    filters: {
      type: Array,
      default: () => [],
    },
    flights: {
      type: Object,
      default: () => ({}),
    },
  },
  data() {
    return {
    };
  },
  computed: {
    schedules() {
      const filtered = _pickBy(this.flights,
        (schedules, key) => _some(this.filters, { key, show: true }));
      return _map(filtered, (flights, key) => ({ key, flights }));
    },
  },
  methods: {
  },
};
</script>

<style scoped lang="scss">
.availability-grid {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  display: flex;
  align-content: flex-start;
  justify-content: center;
  flex-flow: row wrap;
  overflow-y: auto;

  li {
    height: 15px;
    width: 100px;
    padding: 0 1em;
    margin: 0.1em;
    font-size: 0.8em;
    font-family: monospace;
    text-align: center;
    color: white;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.disabled {
      background-color: grey;
      cursor: not-allowed;
    }
    &:not(.disabled) {
      background-color: deepskyblue;

      &:hover {
        background-color: steelblue;
        cursor: pointer;
      }
    }
  }
}
</style>
