<template>
  <a-spin
    wrapper-class-name="availability-container"
    :spinning="isLoading"
  >
    <div class="spin-content">
      <a-calendar
        :valid-range="validDateRange"
        :value="selectedDate"
      >
        <availability-grid
          slot="dateCellRender"
          slot-scope="value"
          :flights="getFlights(value)"
          :filters="filters"
        />
      </a-calendar>
    </div>
  </a-spin>
</template>

<script>
import moment from 'moment';
import AvailabilityGrid from './AvailabilityGrid.vue';

export default {
  name: 'CalendarContainer',
  components: {
    AvailabilityGrid,
  },
  props: {
    isLoading: {
      type: Boolean,
      default: false,
    },
    filters: {
      type: Array,
      default: () => [],
    },

    selectedMonth: {
      type: Number,
      default: (new Date()).getMonth(),
    },
    selectedYear: {
      type: Number,
      default: (new Date()).getFullYear(),
    },
    validDateRange: {
      type: Array,
      default: () => [],
    },

    availabilities: {
      type: Object,
      default: () => ({}),
    },
  },
  data() {
    return {
    };
  },
  computed: {
    selectedDate() {
      const today = new Date();
      today.setFullYear(this.selectedYear);
      today.setMonth(this.selectedMonth);
      return moment(today);
    },
  },
  methods: {
    getFlights(momentDate) {
      const str = momentDate.valueOf();
      const date = new Date(str);
      return this.availabilities[date.toDateString()];
    },
  },
};
</script>

<style lang="scss">
.availability-container {
  overflow: auto;

  .ant-fullcalendar-header {
    display: none !important;
  }
  .ant-fullcalendar-column-header {
    padding-right: 4px;
  }
  .ant-fullcalendar-calendar-body {
    padding: 8px 0;
  }
  .ant-fullcalendar-date {
    margin: 0 1px;
    padding: 1px;
  }

}

</style>
