<template>
  <div class="filter-selection">
    <div>
      <a-checkbox
        :indeterminate="indeterminate"
        :checked="checkAll"
        @change="onCheckAllChange"
      >
        Show all
      </a-checkbox>
    </div>
    <a-divider class="divider" />
    <a-checkbox-group
      v-model="checkedKeys"
      :options="labels"
      class="filter-options"
      @change="onSelectionChanges"
    />
  </div>
</template>

<script>
import _compact from 'lodash/compact';
import _size from 'lodash/size';
import _map from 'lodash/map';
import _uniq from 'lodash/uniq';
import _filter from 'lodash/filter';
import _includes from 'lodash/includes';

export default {
  name: 'FilterSelection',
  props: {
    isLoading: {
      type: Boolean,
      default: false,
    },
    filters: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      checkedKeys: _filter(this.filters, { show: true })
        .map(({ key }) => key),
    };
  },
  computed: {
    labels() {
      return _uniq(_map(_compact(this.filters), ({ key }) => key));
    },
    checkAll() {
      return _size(this.checkedKeys) === _size(this.labels);
    },
    indeterminate() {
      return _size(this.checkedKeys) > 0 && _size(this.checkedKeys) < _size(this.labels);
    },
  },
  methods: {
    onCheckAllChange(e) {
      this.checkedKeys = e.target.checked ? this.labels : [];
      this.onSelectionChanges(this.checkedKeys);
    },
    onSelectionChanges(newCheckedKeys) {
      const newFilters = _map(this.labels, (label) => ({
        key: label,
        show: _includes(newCheckedKeys, label),
      }));

      this.$emit('update', newFilters);
    },
  },
};
</script>

<style scoped lang="scss">
.filter-selection {
  .divider {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .filter-options {
    display: grid;
    grid: auto / auto;
    grid-row-gap: 5px;
  }
}
</style>
