<template>
  <div class="header-bar">
    <div class="left">
      <a-button
        title="Expand drawer"
        size="large"
        ghost
        type="link"
        class="icon-button"
        @click="toggleDrawer"
      >
        <font-awesome-icon icon="bars" />
      </a-button>
      <a-drawer
        title="Routes"
        placement="left"
        :closable="false"
        :visible="isDrawerOpened"
        wrap-class-name="drawer"
        @close="toggleDrawer"
      >
        <filter-selection
          v-if="filters.length > 0"
          :is-loading="isLoading"
          :filters="filters"
          @update="updateFilter"
        />
        <a-empty v-else />
      </a-drawer>

      <a-button
        v-if="window.isMobile"
        title="Get to today"
        size="large"
        ghost
        type="link"
        class="icon-button"
        @click="resetMonthIndex"
      >
        <font-awesome-icon icon="calendar-alt" />
      </a-button>
    </div>
    <div
      :class="{
        middle: true,
        'is-mobile': window.isMobile,
      }"
    >
      <a-button
        v-if="!window.isMobile"
        title="Get to today"
        ghost
        @click="resetMonthIndex"
      >
        Today
      </a-button>
      <div
        v-if="!window.isMobile"
        class="navigation"
      >
        <a-button
          title="Navigate to last month"
          ghost
          type="link"
          :disabled="disableLastMonth"
          @click="reduceMonthIndex"
        >
          <font-awesome-icon icon="chevron-left" />
        </a-button>
        <a-button
          title="Navigate to next month"
          ghost
          type="link"
          :disabled="disableNextMonth"
          @click="addMonthIndex"
        >
          <font-awesome-icon icon="chevron-right" />
        </a-button>
      </div>

      <a-month-picker
        :disabled-date="disabledDate"
        :value="pickerSelectedDate"
        @change="selectMonthFromPicker"
      >
        <div class="active-month">
          <span class="month">{{ monthStrings[selectedMonth] }}</span>
          <span class="year">{{ selectedYear }}</span>
        </div>
      </a-month-picker>
    </div>
    <div class="right">
      <a-avatar
        v-if="!user"
        class="ant-dropdown-link avatar"
        href="#"
        shape="square"
      />
      <a-dropdown
        v-else
        :trigger="['click']"
      >
        <a-avatar
          class="ant-dropdown-link avatar"
          href="#"
          shape="square"
          :src="user.photoURL"
        />
        <a-menu
          slot="overlay"
          @click="menuClicked"
        >
          <a-menu-item key="0">
            <font-awesome-icon icon="sign-out-alt" />
            Logout
          </a-menu-item>
        </a-menu>
      </a-dropdown>
    </div>
  </div>
</template>

<script>
import moment from 'moment';
import * as _first from 'lodash/first';
import * as _last from 'lodash/last';
import * as _isFunction from 'lodash/isFunction';
import { mapState } from 'vuex';

const FilterSelection = () => import('./FilterSelection.vue');
const monthStrings = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

export default {
  name: 'HeaderBar',
  components: {
    FilterSelection,
  },
  props: {
    user: {
      type: Object,
      default: () => ({
        uid: '',
        photoURL: '',
      }),
    },
    signOut: {
      type: Function,
      default: undefined,
    },

    isLoading: {
      type: Boolean,
      default: false,
    },
    filters: {
      type: Array,
      default: () => [],
    },

    selectedMonth: {
      type: Number,
      default: (new Date()).getMonth(),
    },
    selectedYear: {
      type: Number,
      default: (new Date()).getFullYear(),
    },
    validDateRange: {
      type: Array,
      default: () => [],
    },

    announcements: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      isDrawerOpened: false,
      monthStrings,
    };
  },
  computed: {
    ...mapState({
      config: (state) => state.config,
      window: (state) => state.window,
    }),

    pickerSelectedDate() {
      const date = moment();
      date.set({ year: this.selectedYear, month: this.selectedMonth });
      return date;
    },
    disableLastMonth() {
      const first = _first(this.validDateRange);
      if (!first) {
        return false;
      }

      if (this.selectedYear === first.year()) {
        return this.selectedMonth - 1 < first.month();
      }
      return this.selectedYear < first.year();
    },
    disableNextMonth() {
      const last = _last(this.validDateRange);
      if (!last) {
        return false;
      }

      if (this.selectedYear === last.year()) {
        return this.selectedMonth + 1 > last.month();
      }
      return this.selectedYear > last.year();
    },
  },
  methods: {
    toggleDrawer() {
      this.isDrawerOpened = !this.isDrawerOpened;
    },

    resetMonthIndex() {
      this.$emit('showMonth');
    },
    addMonthIndex() {
      const year = ((this.selectedMonth + 1) / monthStrings.length) >= 1
        ? this.selectedYear + 1
        : this.selectedYear;
      const month = (this.selectedMonth + 1) % monthStrings.length;
      this.$emit('showMonth', year, month);
    },
    reduceMonthIndex() {
      const year = (this.selectedMonth - 1 < 0) ? this.selectedYear - 1 : this.selectedYear;
      let month = (this.selectedMonth - 1) % monthStrings.length;
      if (month < 0) {
        month += monthStrings.length;
      }
      this.$emit('showMonth', year, month);
    },
    disabledDate(date) {
      const [first, last] = this.validDateRange;
      return !(date.isBetween(first.startOf('month'), last.endOf('month')));
    },
    selectMonthFromPicker(date) {
      if (date) {
        this.$emit('showMonth', date.year(), date.month());
      }
    },

    menuClicked($event) {
      if (!$event) {
        return;
      }
      switch ($event.key) {
        case '0':
          if (_isFunction(this.signOut)) {
            this.signOut();
          }
          break;
        default:
      }
    },

    updateFilter(filters) {
      this.$emit('update', filters);
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.header-bar {
  background-color: firebrick;
  color: white;
  padding: 5px 15px 5px 8px;
  display: grid;
  grid: 1fr / auto 1fr auto;
  grid-column-gap: 5px;

  .left {
    .icon-button {
      padding: 0 12px;
    }
  }

  .middle {
    display: grid;
    grid: 1fr / 70px 80px 80px 1fr;
    grid-column-gap: 5px;
    &.is-mobile {
      grid: 1fr / 80px;
    }

    align-items: center;

    .navigation {
      button {
        border: none;
        padding: 0 11.625px
      }
    }

    .active-month {
      display: grid;
      grid: auto / repeat(2, 1fr);
      justify-items: center;
      &:hover {
        cursor: pointer;
      }

      span {
        color: white;
      }
    }
  }
  .right {
    align-self: center;

    .avatar {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.drawer .ant-drawer-content-wrapper {
  width: 100% !important;
  max-width: 300px !important;
}
</style>
