<template>
  <div class="main">
    <a-modal
      :visible="showWelcomePrompt"
      centered
      :closable="false"
      :footer="null"
      class="welcome-prompt"
    >
      <welcome-card
        :messages="messages"
        :success-handler-on-sign-on="onSignOn"
        :failure-handler-on-sign-on="onSignOnError"
      />
    </a-modal>

    <main>
      <header-bar
        :user="user"
        :sign-out="onSignOut"
        :is-loading="isLoading"
        :filters="filters"
        :announcements="announcements"
        :selected-month="selectedMonth"
        :selected-year="selectedYear"
        :valid-date-range="validDateRange"
        @update="setFilters"
        @showMonth="showMonth"
      />
      <calendar-container
        :is-loading="isLoading"
        :filters="filters"
        :selected-month="selectedMonth"
        :selected-year="selectedYear"
        :availabilities="availabilities"
        :valid-date-range="validDateRange"
      />
    </main>
  </div>
</template>

<script>
import moment from 'moment';
import { mapState, mapMutations } from 'vuex';
import * as _map from 'lodash/map';
import * as _reduce from 'lodash/reduce';
import * as _first from 'lodash/first';
import * as _reject from 'lodash/reject';
import * as _last from 'lodash/last';
import * as _isNumber from 'lodash/isNumber';
import * as _sortBy from 'lodash/sortBy';
import * as _keys from 'lodash/keys';
import * as _union from 'lodash/union';
import firebaseUtils, {
  ERROR_CODE_FIRESTORE,
  ERROR_CODE_FIREBASE_AUTH,
} from '../firebase/utils';

import {
  APP_CONFIG_SET,
  USER_SET,
  FILTERS_SET,
  AVAILABILITIES_SET,
} from '../vuex/mutation-types';

const CalendarContainer = () => import('./CalendarContainer.vue');
const WelcomeCard = () => import('./WelcomeCard.vue');
const HeaderBar = () => import('./HeaderBar.vue');


export default {
  name: 'Main',
  components: {
    CalendarContainer,
    WelcomeCard,
    HeaderBar,
  },
  data() {
    return {
      isLoading: false,
      selectedMonth: (new Date()).getMonth(),
      selectedYear: (new Date()).getFullYear(),
      showWelcomePrompt: false,
      messages: [],
    };
  },
  computed: {
    ...mapState({
      config: (state) => state.config,
      user: (state) => state.user,
      filters: (state) => state.filters,
      availabilities: (state) => state.availabilities,
    }),

    announcements() {
      return _reject(this.config.ANNOUNCEMENTS || [], ({ nbf, exp }) => {
        const now = Date.now() / 1000;
        if (nbf && now < nbf) {
          return true;
        }
        if (exp && now >= exp) {
          return true;
        }
        return false;
      });
    },

    routes() {
      return _reject(this.config.ROUTES_CONFIG || [], ({ enabled }) => !enabled);
    },

    labels() {
      const keys = _map(this.availabilities, (schedule) => _keys(schedule));
      return _union(...keys);
    },

    validDateRange() {
      const dates = _sortBy(_map(this.availabilities, (ignored, key) => new Date(key)));
      return [moment(_first(dates)), moment(_last(dates))];
    },
  },
  async mounted() {
    firebaseUtils.registerOnAuthStateChanged((user) => {
      if (user) {
        this.setUserInfo(user);
      }
    });

    try {
      this.isLoading = true;

      const remoteConfig = await firebaseUtils.setUpRemoteConfig();
      if (remoteConfig) {
        const config = _reduce(remoteConfig.getAll(), (acc, value, key) => ({
          ...acc,
          [key]: JSON.parse(value.asString()),
        }), {});
        this.setAppConfig(config);
        await firebaseUtils.assertRemoteConfig(config);
      }
      this.isLoading = false;

      this.fetchData();
    } catch (e) {
      this.$notification.open({
        key: 'failure-start-up',
        message: 'Oops',
        description: e.message,
        duration: null,
      });
    }
  },
  methods: {
    ...mapMutations({
      setAppConfig: APP_CONFIG_SET,
      setUserInfo: USER_SET,
      setFilters: FILTERS_SET,
      setAvailabilities: AVAILABILITIES_SET,
    }),

    showMonth(year = (new Date()).getFullYear(), month = (new Date()).getMonth()) {
      if (!_isNumber(month) || month < 0 || month > 11) {
        return;
      }

      this.selectedYear = year;
      this.selectedMonth = month;
    },

    async onSignOn(user) {
      if (!user) {
        return;
      }
      this.setUserInfo(user);
      this.showWelcomePrompt = false;
      this.messages = [];

      this.fetchData();
    },
    onSignOnError(e) {
      switch (e.code) {
        case ERROR_CODE_FIREBASE_AUTH.CANCELLED_POPUP_REQUEST:
        case ERROR_CODE_FIREBASE_AUTH.POPUP_BLOCKED:
        case ERROR_CODE_FIREBASE_AUTH.POPUP_CLOSED_BY_USER:
          break;
        case ERROR_CODE_FIREBASE_AUTH.NETWORK_REQUEST_FAILED:
          this.messages = [{
            type: 'error',
            message: 'Network Problem',
            description: 'Have you unplugged the Internet?',
          }];
          break;
        case ERROR_CODE_FIREBASE_AUTH.TOO_MANY_REQUESTS:
          this.messages = [{
            type: 'error',
            message: 'Spammer',
            description: 'Don\'t DDOS me.',
          }];
          break;
        case ERROR_CODE_FIREBASE_AUTH.USER_DISABLED:
          this.messages = [{
            type: 'error',
            message: 'You are temporarily suspended.',
          }];
          break;
        case ERROR_CODE_FIREBASE_AUTH.WEB_STORAGE_UNSUPPORTED:
          this.messages = [{
            type: 'error',
            message: 'Please enable webstorage function for this site and try again.',
          }];
          break;
        default:
          this.messages = [{ type: 'error', message: e.message }];
      }
    },
    async onSignOut() {
      try {
        await firebaseUtils.signOut();
        this.setUserInfo(null);
        this.messages = [];
      } catch (e) {
        console.error(e);
      }
    },

    async fetchData() {
      if (!this.routes || this.routes.length === 0) {
        return;
      }

      this.isLoading = true;
      try {
        const { filters, availabilities } = await firebaseUtils.getAvailabilities();
        this.setFilters(filters);
        this.setAvailabilities(availabilities);
      } catch (e) {
        switch (e.code) {
          case ERROR_CODE_FIRESTORE.CANCELLED:
          case ERROR_CODE_FIRESTORE.ABORTED:
            break;
          case ERROR_CODE_FIRESTORE.UNAUTHENTICATED:
          case ERROR_CODE_FIRESTORE.PERMISSION_DENIED: {
            if (!this.user) {
              this.messages = [{
                type: 'info',
                message: 'Login Required',
                description: 'We have decided to only allow whitelisted users to be able to access the data. Please login with one of the following providers so that we can verify your identity.',
              }];
            } else {
              this.messages = [{
                type: 'error',
                message: 'Well...',
                description: 'Apparently you are not one of the whitelisted users to be able to access the data.',
              }];
            }
            break;
          }
          default:
            console.error(e);
        }

        this.showWelcomePrompt = true;
      } finally {
        this.isLoading = false;
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.main {
  height: 100%;
  width: 100%;

  main {
    height: 100%;
    width: 100%;
    display: grid;
    grid: 50px 1fr / 1fr;
  }
}

.welcome-prompt {
  padding: 0;

  .ant-modal-content, .ant-modal-body {
    height: 100%;
  }
  .ant-modal-body {
    padding: 12px;
  }
}
</style>
