<template>
  <a-spin :spinning="isLoading">
    <div class="welcome-card">
      <div class="title">
        <span>JEP Planner</span>
      </div>
      <div class="messages">
        <a-alert
          v-for="({ type, message, description, icon }, i) in parsedMessages"
          :key="String(i)"
          :type="type"
          :message="message"
          :description="description"
          banner
        >
          <font-awesome-icon
            slot="icon"
            :icon="icon"
          />
        </a-alert>
      </div>
      <a-divider
        class="divider"
        type="horizontal"
      />
      <div class="oauth-providers">
        <a-button
          v-for="(provider, index) in OAUTH_PROVIDERS"
          :key="String(index)"
          :disabled="!provider.onClick"
          size="large"
          @click="provider.onClick"
        >
          <font-awesome-icon
            :icon="provider.icon"
            class="button-icon left"
          />
          {{ provider.name }}
        </a-button>
      </div>
    </div>
  </a-spin>
</template>

<script>

import { mapState } from 'vuex';
import _map from 'lodash/map';
import _compact from 'lodash/compact';
import _isFunction from 'lodash/isFunction';
import firebaseUtils from '../firebase/utils';

const TYPE_AWESOME_ICON_MAP = {
  info: ['fas', 'info'],
  success: ['fas', 'check'],
  warning: ['fas', 'exclamation-triangle'],
  error: ['fas', 'times'],
};

export default {
  name: 'WelcomeCard',
  props: {
    messages: {
      type: Array,
      default: () => [],
    },
    successHandlerOnSignOn: {
      type: Function,
      default: undefined,
    },
    failureHandlerOnSignOn: {
      type: Function,
      default: undefined,
    },
  },
  data() {
    return {
      isLoading: false,
    };
  },
  computed: {
    ...mapState({
      config: (state) => state.config,
      window: (state) => state.window,
    }),

    parsedMessages() {
      return _compact(this.messages)
        .map((message) => ({
          type: message.type || 'warning',
          message: (message.message || message).trim(),
          description: (message.description || '').trim() || null,
          icon: TYPE_AWESOME_ICON_MAP[message.type || 'warning'],
        }));
    },

    OAUTH_PROVIDERS() {
      const authFunctionMap = {
        Google: this.signInViaGoogle,
        Facebook: this.signInViaFacebook,
      };

      return _map(this.config.AUTH_PROVIDERS, ({ name, icon, enabled = false }) => ({
        name,
        icon,
        onClick: enabled && authFunctionMap[name],
      }));
    },
  },
  methods: {
    async signInCallbackHandler(e, user) {
      if (e && _isFunction(this.failureHandlerOnSignOn)) {
        return this.failureHandlerOnSignOn(e);
      }
      if (_isFunction(this.successHandlerOnSignOn)) {
        return this.successHandlerOnSignOn(user);
      }
      return undefined;
    },
    async signInViaGoogle() {
      try {
        this.isLoading = true;
        const user = await firebaseUtils.signInViaGoogle(this.window.isMobile);
        this.signInCallbackHandler(null, user);
      } catch (e) {
        this.signInCallbackHandler(e);
      } finally {
        this.isLoading = false;
      }
    },
    async signInViaFacebook() {
      try {
        this.isLoading = true;
        const user = await firebaseUtils.signInViaFacebook(this.window.isMobile);
        this.signInCallbackHandler(null, user);
      } catch (e) {
        this.signInCallbackHandler(e);
      } finally {
        this.isLoading = false;
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.welcome-card {
  width: 100%;
  height: 100%;
  display: grid;
  grid: 1fr auto auto 40px / 1fr;
  grid-row-gap: 12px;

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
  }

  .divider {
    margin: 0;
  }

  .oauth-providers {
    display: flex;
    justify-content: center;
    align-items: center;

    > * {
      margin: 5px;
    }
  }
}

.button-icon {
  &.left {
    margin-right: 10px;
  }
}
</style>
